<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QQDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E9127FD51D3CC2FF0049A4DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9127FEE1D3CC2FF0049A4DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9127FF91D3CC2FF0049A4DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
